In [1]:
#encoding utf-8
import numpy as np
import pandas as pd
import xlrd
import codecs
from IPython.display import Image

In [2]:
#http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/
DTFQA = pd.read_excel('./db/parameter_DTF_POC.XLS', 'utterances 1-1')
#DTFQA.title

In [3]:
pd.DataFrame(DTFQA, index=[1,2],columns=['No.'])

   No.
1  NaN
2  NaN

In [7]:
null_flag = DTFQA['No.'].isnull()

for i in range(len(null_flag)+1):
    QAid = DTFQA.get_value(i,'No.')
    if DTFQA['No'][i].isnull() == False:
        target_id = QAid
        continue
    else:
        DTFQA['No.'][i] = target_id

0      False
1       True
2       True
3      False
4       True
5       True
6      False
7       True
8       True
9      False
10      True
11      True
12     False
13      True
14      True
15     False
16      True
17      True
18     False
19      True
20      True
21     False
22      True
23      True
24     False
25      True
26      True
27     False
28      True
29      True
       ...
100    False
101     True
102     True
103     True
104     True
105     True
106     True
107     True
108     True
109     True
110    False
111     True
112     True
113     True
114     True
115     True
116     True
117     True
118     True
119     True
120    False
121     True
122     True
123     True
124     True
125     True
126     True
127     True
128     True
129     True
Name: No., dtype: bool

In [ ]:
### POST PROCESS ###
idx = DTFQA.iloc[:,0].values
idx
#np.where(idx!='nan')

In [ ]:
idxnan = DTFQA['No.'].index[DTFQA['No.'].apply(np.isnan)]
#idxnan = DTFQA['No.'].index[2:8]
idxnan

In [ ]:
xls_header = xlrd.open_workbook('./db/parameter_DTF_POC.XLS')
Image('./db/DTF_QA_example.jpg')

In [ ]:
sheet_names =  xls_header.sheet_names()
print('Sheet Names', sheet_names)

In [ ]:
xl_sheet = xls_header.sheet_by_name(sheet_names[3])

In [ ]:
## show row 1, col 1 context
row1 = xl_sheet.row(0)
col1 = xl_sheet.col(0)[1:5]
print 'row 1 = ' + str(row1)
print 'col 1 = ' + str(col1)

In [ ]:
num_cols = xl_sheet.ncols
num_rows = xl_sheet.nrows - 1 # row num should exclude title
print 'col # = ' + str(num_cols)
print 'row # = ' + str(num_rows)

In [ ]:
for row_idx in range(0, num_rows):    # Iterate through rows
    print ('-'*40)
    print ('Row: %s' % row_idx)   # Print row number
    for col_idx in range(0, num_cols):  # Iterate through columns
        cell_obj = xl_sheet.cell(row_idx, col_idx)  # Get cell object by row, col
        print ('Column: [%s] cell_obj: [%s]' % (col_idx, cell_obj))